thead tr th {
  color: #fff;
  font-size: medium;
}
table th,
table td {
  padding: 10px;
  border-bottom: 1px solid #d9d3d3ff;
  text-align: left;
  border-left: 1px solid #d9d3d3ff;
  border-right: 1px solid #d9d3d3ff;
  border-top: 1px solid #d9d3d3ff;
}

table tr:hover {
  background: #0d3874ff;
}

.btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-confirm {
  background: #03366dff;
  color: #fff;
}
.btn-cancel {
  background: #03366dff;
  color: #fff;
}
.btn:hover {
  opacity: 0.9;
  color: #04cde8ff;
  transform: scale(1.05);
  /* Slight zoom */
}

.chart-container {
  margin-top: 20px;
  padding: 15px;
  background: #0d1117;
  border-radius: 12px;
}

/* Container to place chart left & users right */
.row-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

/* Chart takes 50% width */
.chart-container {
  flex: 1;
  padding: 15px;
  background: #0d1117;
  border-radius: 12px;
}
/* Users table takes 50% width */
.users-container {
  flex: 2;
  padding: 15px;
  background: #0d1117;
  border-radius: 12px;
  color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

/* Make table scrollable within container */
.users-container table {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.users-container thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  flex-shrink: 0;
}

.users-container tbody {
  display: block;
  overflow-y: scroll;
  max-height: 100px;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.users-container tbody::-webkit-scrollbar {
  display: none;
}

.users-container tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* Live clock */
.clock {
  position: fixed;
  top: 55px;
  left: 780px;
  font-size: 14px;
  color: #fff;
  background: #172554;
  padding: 6px 14px;
  border-radius: 8px;
  font-weight: 500;
  z-index: 1000;
  text-align: center;
}

/* Scrollable logs table - display 11 rows initially */
#logsContent table {
  display: flex;
  flex-direction: column;
  max-height: 600px;
}

#logsContent thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  flex-shrink: 0;
}

#logsContent tbody {
  display: block;
  overflow-y: scroll;
  max-height: 450px;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-stylne: none;
}

#logsContent tbody::-webkit-scrollbar {
  display: none;
}

#logsContent tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

