.modal {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: linear-gradient(to bottom left, #172554, #0c4a6e, #1e40af);
  border-radius: 12px;
  padding: 20px;
  width: 780px;
  max-width: 95vw;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.95);
  animation: fadeIn 0.3s ease;

  color: white;
}


.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.modal-content p {
  margin: 5px 0 15px;
  font-size: 14px;
  color: #ffff;
}

.modal-content input {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.modal-content select {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  background-color: #222;
  color: white;
}

.modal-content input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/* Scrollbar styling */
.modal-content::-webkit-scrollbar {
  width: 8px;
}
.modal-content::-webkit-scrollbar-track {
  background: #0d1117;
  border-radius: 10px;
}
.modal-content::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}
.modal-content::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.modal-content h2 span {
  font-size: 16px;
  color: #e1ddddff;
  font-weight: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
