.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 8px;
}
.form-row div {
  flex: 1;
}
.camera-box,
.preview-box {
  border: 1px solid #444;
  padding: 12px;
  border-radius: 10px;
  background: #0d1117;
}
.camera-box video,
.preview-box img {
  width: 100%;
  border-radius: 10px;
}

.preview-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  max-height: 500px;
}

.preview-box img {
  max-width: 100%;
  max-height: 380px;
  object-fit: contain;
}

.preview-box > div:first-of-type {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.btn-group {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.search-bar {
  margin: 10px 0;
}
.search-bar input {
  width: 250px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #eae3e3ff;
}

td:has(button) {
  display: flex;
  gap: 8px;
}